.footer-comp {
    background-color: #41167F;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-comp .technologies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.footer-comp a {
    text-decoration: none;
    color: white;
}

.footer-comp a:hover{
    color: #F2F2F2;
}